<div class="max-w-6xl mx-auto px-4 py-6">
    <div class="grid grid-cols-1 gap-4">
        {% for block in section.blocks %}
            <div class="flex justify-around items-center space-y-6">
                <div class="w-full flex justify-center">
                    <div>
                        <p>{{ block.settings.title }}</p>
                        <p>{{ block.settings.description }}</p>
                    </div>
                </div>
                <div class="relative w-full h-80">
                    <img
                        src="{{ block.settings.image_picker | img_url: "large" }}"
                        alt="{{ block.settings.image_picker.alt }}"
                        class="w-full h-80 object-center object-cover rounded-md shadow-md shadow-gray-400"
                        height="{{ block.settings.image_picker.height }}"
                        width="{{ block.settings.image_picker.width }}"
                        loading="lazy"
                    >
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    AOS.init();
</script>

{% schema %}
{
    "name": "Animate on scroll image",
    "settings": [
        {
            "type": "text",
            "id":"title",
            "default":"Title",
            "label":"Title"
        },
        {
            "type": "textarea",
            "id":"desctiption",
            "default":"Description",
            "label":"Description"
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Slide Image",
            "limit": 5,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_picker",
                    "label": "Slide Image"
                },
                {
                    "type":"text",
                    "id":"title",
                    "default": "Title",
                    "label": "Title"
                },
                {
                    "type":"textarea",
                    "id":"description",
                    "default": "Description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Animate on scroll image"
        }
    ]
}
{% endschema %}