<div class="max-w-6xl mx-auto py-12 px-4">
    <h2 class="text-center font-bold font-orelega_one text-xl my-6">{{ section.settings.title }}</h2>
    <p class="text-center font-bold text-base my-6">{{ section.settings.title }}</p>
    <div class="grid grid-cols-1 gap-3">
        {% for block in section.blocks %}
            <div class='flex mb-4 {% if block.settings.switch %}flex-row-reverse{% endif %} justify-around'>
                <div data-aos="zoom-in-right">
                    <div class="flex flex-col items-center justify-center w-full {% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %}">
                        <div class="font-zen_maru_gothic mx-auto p-4">
                            <p class="font-bold text-2xl text-gray-900 ">{{ block.settings.title }}</p>
                            <p class="text-gray-500 text-lg">{{ block.settings.description | truncate: 30, '...' }}</p> 
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in-left">
                    <div class="w-full rounded-md {% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %} overflow-hidden">
                        <img 
                            loading="lazy" 
                            class="w-full h-full object-cover transfrom ease-out duration-500 scale-100 hover:scale-105"
                            src="{{ block.settings.image_picker | img_url: 'large' }}"
                            alt="{{ block.settings.image_picker.alt }}"
                            height="{{ block.settings.image_picker.height }}"
                            width="{{ block.settings.image_picker.width }}"
                        >
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        AOS.init();
    });
</script>

{% schema %}
{
    "name": "Animate on scroll image",
    "settings": [
        {
            "type": "text",
            "id":"title",
            "default":"Title",
            "label":"Title"
        },
        {
            "type": "textarea",
            "id":"desctiption",
            "default":"Description",
            "label":"Description"
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Slide Image",
            "limit": 5,
            "settings": [
                {
                    "type": "checkbox",
                    "id":"switch",
                    "default": false,
                    "label": "Switch Position"
                },
                {
                    "type": "image_picker",
                    "id": "image_picker",
                    "label": "Slide Image"
                },
                {
                    "type":"text",
                    "id":"title",
                    "default": "Title",
                    "label": "Title"
                },
                {
                    "type":"textarea",
                    "id":"description",
                    "default": "Description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Animate on scroll image"
        }
    ]
}
{% endschema %}