<div class="max-w-6xl mx-auto py-6">
    <div class="grid grid-cols-1 gap-4">
        {% for block in section.blocks %}
            <div class='flex {% if block.settings.switch %}flex-wrap-reverse{% endif %} justify-around items-center space-y-6'>
                <div data-aos="zoom-in-right">
                    <div class="w-full flex justify-center">
                        <div class="font-zen_maru_gothic">
                            <p class="font-bold text-2xl text-gray-900 ">{{ block.settings.title }}</p>
                            <p class="text-gray-500 text-lg">{{ block.settings.description }}</p>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in-left">
                    <div class="relative w-full h-40 md:h-80">
                        <img
                            src="{{ block.settings.image_picker | img_url: "large" }}"
                            alt="{{ block.settings.image_picker.alt }}"
                            class="w-full h-40 md:h-80 object-center object-cover rounded-md shadow-md shadow-gray-400"
                            height="{{ block.settings.image_picker.height }}"
                            width="{{ block.settings.image_picker.width }}"
                            loading="lazy"
                        >
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        AOS.init();
    });
</script>

{% schema %}
{
    "name": "Animate on scroll image",
    "settings": [
        {
            "type": "text",
            "id":"title",
            "default":"Title",
            "label":"Title"
        },
        {
            "type": "textarea",
            "id":"desctiption",
            "default":"Description",
            "label":"Description"
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Slide Image",
            "limit": 5,
            "settings": [
                {
                    "type": "checkbox",
                    "id":"switch",
                    "default": false,
                    "label": "Switch Position"
                },
                {
                    "type": "image_picker",
                    "id": "image_picker",
                    "label": "Slide Image"
                },
                {
                    "type":"text",
                    "id":"title",
                    "default": "Title",
                    "label": "Title"
                },
                {
                    "type":"textarea",
                    "id":"description",
                    "default": "Description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Animate on scroll image"
        }
    ]
}
{% endschema %}