<div class="mx-8 my-6 ">
    <div class="max-w-5xl mx-auto">
        <h3 class="text-center font-bold">BLOG</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            {% for article in section.settings.blog.articles limit: section.settings.post_limit %}
                <div class="mx-3">
                    {% if article.image %}
                        <div class="relative">
                            <img loading="lazy" class="w-full h-40 md:h-80 object-cover mx-auto" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}" height="{{ article.image.height }}" width="{{ article.image.width }}">
                        </div>
                    {% else %}
                        <a href="{{ article.url }}">
                            {{  'image' | placeholder_svg_tag: "w-full h-40 md:h-80 object-cover bg-gray-100" }}
                        </a>
                    {% endif %}
                    <div class="py-4">
                        <h4 class="text-xl font-bold ">{{ article.title }}</h4>
                        <div class="flex">
                            {% for tag in article.tags limit: 3 %}
                                <p class="border-indigo-700 border px-3 py-1 w-auto rounded-md text-indigo-700 text-sm ml-1">{{ tag }}</p>
                            {% endfor %}
                        </div>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="text-sm text-gray-600">{{ article.published_at | time_tag: format: "abbreviated_date" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Feature Blog",
    "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "ブログ記事"
        },
        {
            "type": "range",
            "id": "post_limit",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3,
            "label": "表示ブログ数"
        }
    ],
    "presets": [
        {
            "name": "Feature Blog"
        }
    ]
}
{% endschema %}