<!-- FEATURED COLLLECTION -->
<div class="mx-8  my-6 md:my-12">
    <div class="max-w-5xl mx-auto">
        <div class=`{% if section.settings.hide_title %} hidden {% endif %} `>
            <div class="relative bg-black my-4 md:my-8 xl:my-12">
                <div class="z-20 py-3 px-6">
                    <h1 class="text-left text-2xl md:text-4xl mb-1 md:mb-3 font-montserrat_bold text-white">{{ section.settings.title }}</h1>
                    <!-- COLLECTION DESCRIPTION -->
                    <h5 class="text-left text-xs md:text-lg text-white">{{ section.settings.description }}</h5>
                </div>
                <div class="absolute inset-0 h-full w-full ml-2 mt-2 md:ml-4 md:mt-4 -z-10 bg-yellow-300 border-2 border-black"></div>
            </div>
        </div>
        <div  class=`{% if section.settings.hide_title == false %} hidden {% endif %} `>
            <h1 class="text-left text-2xl md:text-4xl mb-1 md:mb-3 text-black">{{ section.settings.title }}</h1>
        </div>
        <div class="grid {% if section.settings.one_line %}grid-cols-1{% else %}grid-cols-2{% endif %} md:grid-cols-3 gap-4">
            {% assign featured_collection = section.settings.featured_collection %}
            {% for product in collections[featured_collection].products  limit: section.settings.line_items_per_row %}
                <!-- PRODUCT CARD -->
                {% assign delay = forloop.index * 0.7 %}
                <div data-aos="fade-up" data-aos-delay="{{ delay }}">
                    <div class="w-full py-3">
                        <div class="overflow-hidden">
                            <!-- PRODUCT IMAGE -->
                            <a aria-label="Product Link" href="{{ product.url }}">
                                {% if product.featured_image %}
                                {% assign index = forloop.index %}
                                    <div class="{% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %} rounded-md shadow-md overflow-hidden">
                                        <img loading="lazy" class="rounded-md w-full h-full object-cover transfrom ease-out duration-500 scale-100 hover:scale-105"
                                            src="{{ product.featured_image | img_url: 'large' }}"
                                            alt="{{ product.featured_image.alt }}"
                                            height="{{ product.featured_image.height }}"
                                            width="{{ product.featured_image.width }}"
                                        >
                                    </div>
                                {% else %}
                                    {% assign placeholder_img = "product-1" %}
                                    <div class="{% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %} overflow-hidden">
                                        {{ placeholder_img | placeholder_svg_tag: "rounded-md w-full h-full object-cover bg-gray-400" }}
                                    </div>
                                {% endif %}
                            </a>
                            <!-- DESCRIPTION -->
                            <div class="flex flex-col py-2">
                                <span class="text-xs md:text-sm text-gray-500">{{ product.vendor }}</span>
                                <a href="{{ product.url }}" class="font-noto_sans_jp_bold {% if section.settings.one_line %}text-lg md:text-base{% else %}text-sm md:text-base{% endif %}">{{ product.title | truncate: 15, '...' }}</a>
                                <p class="text-gray-500 w-full {% if section.settings.one_line %}text-base md:text-sm{% else %}text-xs md:text-sm{% endif %}">{{ product.price | money }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {%- comment -%}Collectionoがない時{%- endcomment -%}
                {% for item in (1..3) %}
                    {% assign placeholder_img = "product-1" %}
                    <div class="{% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %} overflow-hidden">
                        {{ placeholder_img | placeholder_svg_tag: "rounded-md w-full h-full object-cover bg-gray-400" }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


{%- comment -%}presets:  管理画面からセクションを追加するできるようになる{%- endcomment -%}
{%- comment -%}詳細:https://shopify.dev/themes/architecture/sections/section-schema#presets{%- endcomment -%}
{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured Collection",
            "label": "Title"
        },
        {
            "type": "checkbox",
            "id": "hide_title",
            "default": false,
            "label": "タイトル非表示"
        },
        {
            "type": "text",
            "id": "description",
            "default": "Featured Collection Description",
            "label": "Description"
        },
        {
            "type":"collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "line_items_per_row",
            "min": 3,
            "max": 12,
            "step": 1,
            "default": 3,
            "label": "Line Items per row"
        },
        {
            "type": "checkbox",
            "id": "one_line",
            "default": false,
            "label": "Mobile Line: 1 or 2"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}