<!-- FEATURED COLLLECTION -->
<div class="flex flex-col items-center  my-8">
    <div class="max-w-6xl mx-auto px-4">
        <!-- COLLECTION TITLE -->
        <h1 class="text-center text-2xl mb-3 font-zen_maru_gothic text-gray-900">{{ collections[section.settings.featured_collection].title }}</h1>
        <!-- COLLECTION DESCRIPTION -->
        <span class="tetx-center text-lg font-zen_maru_gothic text-gray-500">{{ collections[section.settings.featured_collection].description }}</span>
    </div>
    <!-- COLLECTION PRODUCT -->
    <div class="max-w-6xl mx-auto">
        <div class="grid {% if section.settings.one_line %}grid-cols-1{% else %}grid-cols-2{% endif %} md:grid-cols-4 gap-4">
            {% for product in collections[section.settings.featured_collection].products limit: section.settings.line_items_per_row %}
                <!-- PRODUCT CARD -->
                <div class="w-full py-6 px-3">
                    <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
                        <!-- PRODUCT IMAGE -->
                        <a href="{{ product.url }}">
                            {% if product.featured_image %}
                                <div class="{% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %} overflow-hidden">
                                    <img loading="lazy" class="w-full h-full object-cover transfrom ease-out duration-500 scale-100 hover:scale-105"
                                        src="{{ product.featured_image | img_url: 'large' }}"
                                        alt="{{ product.featured_image.alt }}"
                                        height="{{ product.featured_image.height }}"
                                        width="{{ product.featured_image.width }}"
                                    >
                                </div>
                            {% else %}
                                {% assign placeholder_img = "product-1" %}
                                <div class="{% if section.settings.one_line %}h-80{% else %}h-40 md:h-80{% endif %} overflow-hidden">
                                    {{ placeholder_img | placeholder_svg_tag: "w-full h-full object-cover bg-gray-400" }}
                                </div>
                            {% endif %}
                        </a>
                        <!-- DESCRIPTION -->
                        <div class="flex flex-col p-4">
                            <span class="text-xs md:text-sm">{{ product.vendor }}</span>
                            <a href="{{ product.url }}" class="text-gray-700 uppercase font-medium text-sm md:text-base">{{ product.title }}</a>
                            <div class="flex w-full">
                                <p class="text-gray-500 text-sm md:text-base w-1/2">{{ product.price | money }}</p>
                                <p class="text-xs md:text-sm w-1/2 bg-indigo-500 rounded-md text-center text-white px-1">{% render "icon-cart" %} +</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {%- comment -%}Collectionoがない時{%- endcomment -%}
                {% for item in (1..4) %}
                    {% render 'product-card-placeholder' %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


{%- comment -%}presets:  管理画面からセクションを追加するできるようになる{%- endcomment -%}
{%- comment -%}詳細:https://shopify.dev/themes/architecture/sections/section-schema#presets{%- endcomment -%}
{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured Collection",
            "label": "Title"
        },
        {
            "type":"collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "line_items_per_row",
            "min": 4,
            "max": 12,
            "step": 4,
            "default": 4,
            "label": "Line Items per row"
        },
        {
            "type": "checkbox",
            "id": "one_line",
            "default": false,
            "label": "Mobile Line: 1 or 2"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}