<div class="mx-8 my-6 ">
    <div class="max-w-5xl mx-auto">
        <h3 class="text-center font-bold">BLOG</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            {% for article in section.settings.blog.articles limit: section.settings.post_limit %}
                <div class="mx-3">
                    {% if article.image %}
                        <div class="relative">
                            <img loading="lazy" class="w-full h-40 md:h-80 object-cover mx-auto" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}" height="{{ article.image.height }}" width="{{ article.image.width }}">
                        </div>
                    {% else %}
                        <a href="{{ article.url }}">
                            {{  'image' | placeholder_svg_tag: "w-full h-40 md:h-80 object-cover bg-gray-100" }}
                        </a>
                    {% endif %}
                    <div class="py-4">
                        <h4 class="text-xl font-bold ">{{ article.title }}</h4>
                        {% for tag in article.tags %}
                            <div class="border-indigo-700 border px-3 py-1 rounded-sm">
                                <p class="text-indigo-700 text-sm font-bold">{{ tag }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Feature Blog",
    "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "ブログ記事"
        },
        {
            "type": "range",
            "id": "post_limit",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3,
            "label": "表示ブログ数"
        }
    ],
    "presets": [
        {
            "name": "Feature Blog"
        }
    ]
}
{% endschema %}