{% liquid
if section.settings.menu.links == blank
assign main_menu_linklist = linklists[section.settings.menu].links
else
assign main_menu_linklist = section.settings.menu.links
endif
%}
<!-- HEADER -->
<div class="header-bg w-full relative mb-12" x-data="{ mobileMenuOpen: false, searchBarOpen: false }">
    {% if section.settings.show_banner %}
        <div class="w-full flex justify-center items-center bg-gray-900 py-6 border-y-4 border-gray-500">
            <a class="inline-flex items-center text-white hover:scale-105 hover:text-gray-300 transform duration-300 ease-in-out"
                href="{{ section.settings.url }}">
                <h1 class="text-center text-2xl font-oswaldtext-lg font-bold">{{section.settings.title}}</h1>
                <p class="ml-2 text-center text-base font-semibold font-oswald">{{section.settings.description }}</p>
            </a>
        </div>
    {% endif %}
    <div class="mx-auto px-8 sm:px-12 ">
        <div class="flex justify-around items-center py-6 md:justify-start md:space-x-4 ">
            <!-- STORE NAME -->
            <div class="flex justify-start lg:flex-1 truncate  w-full">
                <h1 class="font-orelega_one text-lg lg:text-2xl font-bold truncate">
                    <a href="/">
                        {{ shop.name }}
                    </a>
                </h1>
            </div>
            <!-- MENU ICON -->
            <div class="flex -mr-2  ml-3 md:hidden">
                <a href="{{ routes.cart_url }}">
                    <div
                        class="p-2 flex items-center justify-center shadow-md shadow-gray-400 rounded-md text-white bg-gray-900 transfrom ease-in-out duration-200 hover:bg-white hover:text-black hover:shadow-inner hover:shadow-gray-400 hover:translate-y-1">
                        {% render "icon-cart" %}
                        <span class=" font-orelega_one text-xl ml-2">{{ cart.item_count }}</span>
                    </div>
                </a>
            </div>
            <div class="-mr-2 -my-2 ml-6 md:hidden">
                <button x-on:click="mobileMenuOpen = true" type="button"
                    class="p-2 flex items-center justify-center shadow-md shadow-gray-400 rounded-md text-white bg-gray-900 transfrom ease-in-out duration-200 hover:bg-white hover:text-black hover:shadow-inner hover:shadow-gray-400 hover:translate-y-1">
                    {% render "icon-menu" %}
                </button>
            </div>
            <!-- NAVIGATION MENUS -->
            <div class="hidden md:flex space-x-10 font-zen_maru_gothic">
                {% for link in main_menu_linklist %}
                <!-- MENU LINK -->
                    {% if link.links != blank %}
                        {% assign link_handle = link.handle | replace: "-", "_" %}
                        <div class="relative max-w-md" x-data="{ {{ link_handle }}: false }">
                            <button class="inline-flex items-center text-base text-gray-500 hover:text-gray-900" x-on:click=" {{ link_handle }} = ! {{ link_handle }}">
                                {{ link.title }}
                                {% render "icon-dropdown" %}
                            </button>
                            <div x-transition:enter="transition ease-out duration-300"
                                x-transition:enter-start="opacity-0 translate-y-3"
                                x-transition:enter-end="opacity-100 translate-y-0"
                                x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="opacity-100 translate-y-0"
                                x-transition:leave-end="opacity-0 translate-y-3" x-show="{{ link_handle }}"
                                @click.away="{{ link_handle }} = false" x-cloak
                                class="absolute z-10 -ml-5 transform px-2 w-screen max-w-sm sm:px-0 lg:ml-0 ">
                                <div class="shadow-lg border ring-black ring-opacity-5 over-flow-hidden rounded-lg">
                                    <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                        {% for childlink in link.links %}
                                        <a href="{{ childlink.url }}"
                                            class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100">
                                            <div class="ml-4">
                                                <p class="text-base text-gray-500 hover:text-gray-900">
                                                    {{ childlink.title }}
                                                </p>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- SEARCH BUTTON / CART BUTTON / ACCOUNT LINKS IF ENABLED -->
            <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
                <button x-on:click="searchBarOpen = true" type="button"
                    class="whitespace-nowrap text-blue-700 font-bold w-12 h-12">
                    {% render "icon-search" %}
                </button>
                <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
                    {% render "icon-shopping-bag" %}
                </a>
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                    <!-- CUSTOMER LOGGED-IN -->
                    <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">
                        account
                    </a>
                    {%- comment -%}Liquidのreplaceフィルターを使って<a>タグのclassにtailwindcssを付与{%- endcomment -%}
                        {{ "Log out" | customer_logout_link | replace: '
                        <a', '<a class="text-base text-gray-500 hover:text-gray-900"' }} {% else %}
                        <!-- CUSTOMER NOT LOGIN -->
                        {{ "Log in" | customer_login_link | replace: '<a'
                            , '<a class="text-base text-gray-500 hover:text-gray-900"' }} 
                        {{ "Register" |
                            customer_register_link | replace: '<a'
                            , '<a class="text-base text-gray-500 hover:text-gray-900"' }} 
                    {% endif %} 
                {% endif %} 
            </div>
            <!-- MOBILE MENU CONTAINER -->
            <div x-show="mobileMenuOpen" x-cloak x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 translate-x-12"
                x-transition:enter-end="opacity-100 translate-x-0"
                x-transition:leave="transition ease-out duration-300"
                x-transition:leave-start="opacity-100 translate-x-0"
                x-transition:leave-end="opacity-0 translate-x-12"
                class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden"
            >
                <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5  bg-white w-full">
                    <div class="p-5 divide-y-2 divide-gray-50">
                        <!-- MOBILE MENU HEADER TITLE AND CLOSEBUTTON -->
                        <div class="flex items-center justify-between py-3">
                            <h1 class="text-lg text-gray-900">
                                {{ section.settings.mobile-menu-title }}
                            </h1>
                            <div class="-mr-2">
                                <button x-on:click="mobileMenuOpen = false" type="button"
                                    class="bg-white rounded-md p-2 text-gray-500">
                                    {% render "icon-close" %}
                                </button>
                            </div>
                        </div>
                        <!-- NAVIGATION LINKS FOR MOBILE MENU -->
                        <div class="pt-3">
                        <nav class="grid gap-y-7">
                        {% if shop.customer_accounts_enabled %}
                            {% if customer %}
                            <!-- CUSTOMER LOGGED-IN -->
                                <a href="{{ routes.account_url }}" class="text-base text-gray-500 hover:text-gray-900">
                                    account
                            </a>
                                {%- comment-%}Liquidのreplaceフィルターを使って<a>タグのclassにtailwindcssを付与{%-endcomment -%}
                                {{ "Log out" | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }} 
                            {% else %} 
                                <!-- CUSTOMER NOT LOGIN -->
                                {{ "Log in" | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'}} 
                                {{ "Register" | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'}}
                            {% endif %} 
                        {% endif %} 
                        <button
                            x-on:click="searchBarOpen = true, mobileMenuOpen = false"
                            type="button"
                            class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900 text-left"
                        >
                            Search Product
                        </button>
                        {% for link in main_menu_linklist %}
                            <!-- MENU LINK -->
                            {% if link.links != blank %}
                                {% assign link_handle = link.handle | replace: '-', '_' %}
                                <div class="relative" x-data="{ {{ link_handle }}: false }">
                                    <button
                                        x-on:click="{{ link_handle }} = ! {{ link_handle }}"
                                        class="text-base transform text-gray-900 hover:text-gray-500 flex items-center justify-between w-full"
                                    >
                                        {{ link.title }}
                                        {% render "icon-dropdown" %}
                                    </button>
                                    <ul x-show="{{ link_handle }}"
                                        click.away="{{ link_handle }} = false" x-cloak>
                                        {% for link in link.links %}
                                        <li class="p-3 text-gray-600 hover:text-gray-400">
                                            <a href="{{ link.url }}">{{ link.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <a class="text-gray-900 hover:text-gray-500"
                                href="{{ link.url }}">{{ link.title }}</a>
                            {% endif %}
                        {% endfor %}
                        </nav>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div x-cloak x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 -translate-y-12" x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-out duration-300" x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 -translate-y-12" x-show="searchBarOpen"
        class="w-full absolute top-0 shadow-md rounded-b-md bg-white border transform">
        <button class="absolute top-0 right-0 mr-5 mt-5 text-gray-500" x-on:click="searchBarOpen = false">
            {% render "icon-close" %}
        </button>
        <div class="h-40 flex justify-center items-center">
            <form action="{{ routes.search_url }}" method="get">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <h2 class="text-xl text-gray-700 font-bold">{{ shop.name }}</h2>
                        <p class="text-sm text-gray-500 font-thin">{{ shop.description }}</p>
                    </div>
                    <div class="relative text-gray-500 px-10 border rounded-sm">
                        <input type="search" name="q" placeholder="Search"
                            class="w-full bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none">
                        <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md-mr-20">
                            {% render 'icon-search' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    {%- comment -%} エラーが出るがこれでコンソールからヘッダーの色をいじれる {%- endcomment -%}
    {%- comment -%}settings_schema.jsonの値を呼び出し{%- endcomment -%}
    <style lang="scss" scoped>
        .header-bg {
            background: {
                    {
                    settings.header_bg_color
                }
            }
        }
    </style>

    {% schema %}
    {
    "name": "Header",
    "settings": [
    {
    "type":"text",
    "id":"mobile-menu-title",
    "default":"Menu",
    "label":"Mobile Menu Title"
    },
    {
    "type": "link_list",
    "id": "menu",
    "default": "main-menu",
    "label": "Header Naigation Menu"
    },
    {
    "type": "checkbox",
    "id": "show_banner",
    "default": false,
    "label": "Show Banner"
    },
    {
    "type": "text",
    "id": "title",
    "default": "title",
    "label": "Title"
    },
    {
    "type":"url",
    "id": "url",
    "default": "/",
    "label": "Link"
    },
    {
    "type": "text",
    "id": "description",
    "default": "description",
    "label": "Description"
    }
    ]
    }
    {% endschema %}