<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<!-- aync,deferを付けるとswiperがうまく効かない。shopiyf theme check　ではerror表示 -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<style>
    .swiper-button-prev,
    .swiper-button-next {
        color: black;
        top: auto !important;
        height: 20px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 20px;
    }

    .swiper-pagination {
        color: black;
        bottom: 0 !important;
    }

    .swiper-pagination-bullet-active {
        background-color: black !important;
    }
</style>

<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <!-- PRODUCT IMAGES -->
    <div class="product--medias">
        <div class="hidden md:block">
            {% for block in section.blocks %}
            <div class="h-100 overflow-hidden p-2">
                {{ block.settings.image_picker | img_url: '300×' | img_tag }}
            </div>
            {% endfor %}
        </div>
        <div class="md:hidden">
            <div class="swiper h-94">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <div class="h-80 overflow-hidden p-2">
                            <img loading="lazy" src="{{ block.settings.swiper_image.url | img_url: 'large' }}" alt="{{ block.settings.swiper_image.alt | escape }}" class="w-full h-full object-cover" height="{{ block.settings.swiper_image.height }}" width="{{ block.settings.swiper_image.width }}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>


<script>
    const swiper = new Swiper('.swiper', {
        direction: "horizontal",
        pagination: {
            el: '.swiper-pagination'
        },
        navigation: {
            prevEl: '.swiper-button-prev',
            nextEl: ".swiper-button-next"
        },
    })
</script>


{% schema %}
{
    "name": "Image Swiper",
    "blocks": [
        {
            "type": "image_picker",
            "name": "スライド画像",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id":"swiper_image",
                    "label": "Swiper Image"
                }
            ]
        }
    ],
    "presets": [
        { "name": "Swiper Image"}
    ]
}
{% endschema %}