
<!-- swiper.js CDN -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<style>
    .swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 70%;
    height: 300px;
    }

    .swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 70%;
    height: 70%;
    text-align: center;
    line-height: 300px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: #00ff00;
        top: 120 !important;
        height: 40px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 30px;
    }

    .swiper-pagination {
        color: #00ff00;
        bottom: 0 !important;
    }

    .swiper-pagination-bullet-active {
        background-color: #00ff00 !important;
    }

    .product--information {
        height: fit-content;
    }
</style>

<div class="max-w-6xl mx-auto px-6 py-12">
    <h1 class="text-center uppercase font-medium text-green-700 py-3 text-2xl my-6">{{ section.settings.title }}</h1>
    <div class="swiper">
        <!-- 必要に応じたwrapper -->
        <div class="swiper-wrapper w-3/4">
            {% for block in section.blocks limit: section.blocks.size %}
                <div class="swiper-slide">
                    <div class="h-80 overflow-hidden flex justify-center items-center p-2">
                        {% if block.settings.image_picker != blank %}
                            <img
                                src="{{ block.settings.image_picker | img_url: 'large' }}" 
                                alt="{{ block.settings.image_picker.alt }}" 
                                height="{{ block.settings.image_picker.height }}" 
                                width="{{ block.settings.image_picker.width }}"
                                class="w-full h-100 object-cover object-center"
                            >
                        {% else %}
                            {{ 'product-1' | placeholder_svg_tag: "w-full h-full object-cover" }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script>
    const swiper = new Swiper(".swiper", {
        pagination: {
            el: ".swiper-pagination"
        },
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "2",

        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false
        },

        // ナビボタンが必要なら追加
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    });
</script>


{% schema %}
{
    "name": "Image Swiper",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Swiper Title"
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Slide Image",
            "limit": 5,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_picker",
                    "label": "Slide Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Swiper Title"
        }
    ]
}
{% endschema %}