<div class="px-8 py-12 md:py-24">
    <div class="max-w-5xl mx-auto px-3">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            <div class="max-w-md mx-auto">
                <h3 class="text-xl md:text-2xl text-start text-gray-700 font-bold ">{{ section.settings.title }}
                </h3>
                <p class="text-base md:text-xl text-start text-gray-500 font-bold ">{{ section.settings.textarea }}
                </p>
            </div>
            <div class="max-w-md mx-auto mt-6 md:mt-0">
                <h4 class="font-bold text-lg md:text-2xl  p-1">お得な最新情報を受け取る</h4>
                {% form 'customer' %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                    {% else %}
                        <div class="flex mt-4 justify-center">
                            <label for="email" class="sr-only">メールアドレス</label>
                            <input
                                class="border w-full rounded-md px-2 focus:outline-none"
                                type="email"
                                placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                                name="contact[email]"
                                aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}"
                                autocorrect="off"
                                autocapitalize="off"
                            >
                            <div
                                class="bg-black text-white rounded-md ml-4 py-3 px-3 shadow-md cursor-pointer border-3 border-gray-500 hover:bg-white hover:shadow-inner hover:shadow-gray-700 hover:text-black hover:border-black transform ease-in-out duration-300">
                                <input
                                    class=" cursor-pointer"
                                    type="submit"
                                    value="{{ 'general.newsletter_form.submit' | t }}">
                            </div>
                        </div>
                    {% endif %}
                {% endform %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Newsletter Form",
    "settings": [
        {
            "type":"text",
            "id":"title",
            "default": "Default Title",
            "label": "Newsletter Title"
        },
        {
            "type":"textarea",
            "id":"textarea",
            "default": "Default Textarea",
            "label": "Newsletter Textarea"
        }
    ],
    "presets": [
        {
            "name": "Newsletter Form"
        }
    ]
}
{% endschema %}