<!-- BLOG CONTENTS -->
<div class="px-8 py-12 md:py-20">
    {%- comment -%} **blog = Blogオブジェクトのデフォルトの"ニュース"が選択されることに注意** {%- endcomment -%}
    {% paginate blog.articles by section.settings.number_of_blog_posts %}
        <!-- BLOG TITLE -->
        <h1 class="text-center text-2xl md:text-4xl font-montserrat_bold mb-4 md::mb-8">{{ blog.title }}</h1>
        <div class="max-w-6xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    {% for article in blog.articles %}
                        <!-- BLOG ARTICLE -->
                        <div class="w-full py-6 px-3">
                            {% if article.image %}
                                <div class="shadow-xl overflow-hidden rounded-md">
                                    <img loading="lazy" class="w-full shadow-xl overflow-hidde rounded-md h-40 md:h-80 object-cover mx-auto hover:scale-105 transform duration-500 ease-in-out" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}" height="{{ article.image.height }}" width="{{ article.image.width }}">
                                </div>
                            {% else %}
                                <a href="{{ article.url }}">
                                    {{  'image' | placeholder_svg_tag: "shadow-xl overflow-hidde rounded-md w-full h-40 md:h-80 object-cover bg-gray-100 " }}
                                </a>
                            {% endif %}
                            <div class="p-4">
                                <h1 class="text-xl font-medium text-gray-900 my-3">{{ article.title }}</h1>
                                {% if article.excerpt.size > 0 %}
                                    <p class="text-thin text-sm text-gray-500">{{ article.excerpt | strip_html | truncatewords: 5, '...' }}</p>
                                {% else %}
                                    {%- comment -%}truncatewordsで綺麗に整形{%- endcomment -%}
                                    <p class="text-thin text-sm text-gray-500">{{ article.content | strip_html | truncatewords: 5, '...' }}</p>
                                {% endif %}
                                <div class="my-2 flex text-blue-600 hover:text-blue-400">
                                    {% render "icon-readmore" %}
                                    <a class="text-base ml-1" href="{{ article.url }}">{{ section.settings.blog_read_more }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        <!-- PAGINATION -->
        <div class="max-w-6xl mx-auto">
            {% render "pagination" pagination: paginate %}
        </div>
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Blog Template",
    "settings": [
        {
            "type": "text",
            "id": "blog_read_more",
            "default": "Read More",
            "label": "Read More"
        },
        {
            "type": "range",
            "id": "number_of_blog_posts",
            "step": 1,
            "min": 1,
            "max": 6,
            "label": "Blog posts per page",
            "default": 3
        }
    ]
}
{% endschema %}