<div class="px-4 py-4">

</div>
{% paginate collection.products by 6 %}
    {% for product in collection.products %}
        {% if product.featured_image %}
            <img src="{{ product.featured_image | img_url: 'medium' }}"  alt="{{ product.featured_image.alt }}">
        {% endif %}

        <span >{{ product.vender }}</span>
        <a href="{{ product.url }}">{{ product.title }}</a>
        <p>{{ product.price | money }}</p>

        {%- comment -%} コレクションの商品がない場合この"else"が選択 {%- endcomment -%}
        {% else %}
            <p>このコレクションの中に、現在商品はありません。。。</p>
    {% endfor %}
    {% render "pagination", pagination: paginate %}
{% endpaginate %}