<div class="max-w-6xl mx-auto">
    {% if paginate.pages > 1 %}
    <div id="paginate" class="space-x-2">
        {% if paginate.previous %}
            <span class="text-blue-500 text-sm">{{ "戻る" | link_to: paginate.previous.url }}</span>
        {% endif %}
        {% for part in paginate.parts %}
            {% if part.is_link %}
                <span class="text-gray-500 text-base">{{ part.title | link_to: part.url }}</span>
            {% else %}
                {% if part.title == '…' %}
                    <span class="text-gray-500 text-base">{{ part.title }}</span>
                {% else %}
                    <span class="text-gray-500 text-base">{{ part.title }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if paginate.next %}
            <span  class="text-blue-500 text-sm">{{ "次へ" | link_to: paginate.next.url }}</span>
        {% endif %}
    </div>
{% endif %}
</div>